
<ul>
    <li>傑報人力資源顧問有限公司，以下稱傑報，取得您的個人資料，目的在於進行人員招募、人事資料建檔維護、人員管理等相關工作。</li>
    <li>告知事項如下：
        <ul style="list-style-type: decimal;">
        <li>您可向傑報之人事單位申請就您提供的資料，依個人資料保護法規定行使下列權利，如：(1)查詢或請求閱覽、(2)請求製給複製本、(3)請求補充或更正、(4)請求停止蒐集、處理、利用(5)請求刪除</li>
        <li>您可自由選擇是否提供傑報您的個人資料，惟若不提供、提供後請求刪除或停止處理利用，將會影響本公司或要派企業、委託招募人才之企業是否錄用之判斷、甄試/面談/錄取/報到無法通知、無法及時通訊聯絡等。若您所提供之個人資料，傑報難以確認您的身分真實性，或查覺有資料不實之情形，傑報有權停止您的甄選資格、錄取資格、報到資格等相關權利。</li>
        <li>若您經傑報錄取但離職後，傑報將依勞動基準法第七條規定保管您的個人資料至離職後五年。</li>
        </ul>
    </li>
    <li>同意事項如下：
        <ul>
          <li style="list-style-type: decimal;">我同意傑報蒐集、處理、使用我以下各類別之個人資料：</li>
            <ul>
              <li>足資辨識個人身份者。(如︰姓名、戶籍地址、通訊地址、住家電話、行動電話、電子郵件、相片、即時通訊工具及其他任何可資辨識本人之資料)</li>
              <li>政府資料中之辨識者。(如︰身分證統一編號、證照號碼、居留證號碼等)</li>
              <li>個人描述。(如︰性別、出生年月日、國籍、籍貫、出生地、特定對象身份等)</li>
              <li>身體描述。(如︰身高、體重、血型、視力、身心障礙別等)</li>
              <li>個性描述。(如︰性向、優點、缺點等)</li>
              <li>家庭情形。(如︰婚姻狀況、配偶及子女、眷屬資料、隨同加保需求及符合政府補助資格等)</li>
              <li>家庭其他成員之細節。(如︰直系親屬、兄弟姐妹資料、緊急聯繫方式、補償順位等)</li>
              <li>休閒活動及興趣。(如︰嗜好、運動、其他興趣等)</li>
              <li>學校紀錄。(如︰學校、科系、修業期間等)</li>
              <li>資格或技術。(如︰學歷資格、專業技術、專業執照或其他許可等)</li>
              <li>學習紀錄。(如︰在學期間成績證明、研習證明、職業訓練受訓證明等)</li>
              <li>現行之受僱情形。(如︰公司名稱、地點、職別、擔任工作、服務期間、薪資等)</li>
              <li>離職經過。(如︰離職日期、離職原因、離職期間等)</li>
              <li>工作經驗。(如︰公司名稱、地點、職別、擔任工作、服務期間、薪資、服役情形等)</li>
               <li>健康與安全紀錄。(如：特殊病史、職業疾病、安全、意外紀錄、急救資格、旅外急難救助資訊等)</li>
              <li>健康檢查紀錄。包括相關法令如：勞工安全衛生法、勞工健康保護規則、食品安全衛生法或營業衛生基準規定等之體格檢查或健康檢查等項目。</li>
              <li>刑事紀綠資料。(如︰警察刑事紀綠證明書，良民證等)</li>
              <li>宗教信仰。(如︰信仰或文化之禁忌、飲食之禁忌等)</li>
              <li>個人所提供之自傳。</li>
            </ul>
          <li style="list-style-type: decimal;">我同意傑報於收到應徵人員資料表後，於招募服務期間皆可處理、使用我的個人資料，並同意傑報於我成為傑報員工後，繼續於傑報營運期間內蒐集、處理、使用我的個人資料。</li>
             <li style="list-style-type: decimal;">我同意傑報將我的個人資料利用於傑報處理與蒐集目的相關事務之地區，並同意傑報將該資料以紙本、電子檔案、傳真、口頭或其他適當方式，利用於傑報、傑報之子公司、關係企業、與個人職務有業務往來之客戶，及與傑報簽訂人才派遣服務之要派企業或委託招募人才之企業。</li>
          <li style="list-style-type: decimal;">我同意傑報將保存我的個人資料及通訊，並存放於資料庫中，作為和我聯絡通知下列事項之用：</li>
     <ul>
       <li>不定期寄送傑報/傑報之子公司、分公司及關係企業/合作夥伴/客戶等所發行或舉辦之電子報、eDM、電子賀卡、行銷活動、研討會/講座或訓練課程訊息</li>
       <li>其它對我工作或求職有助益的資訊或服務等有關訊息</li>
       <li>在職員工、離職員工、求職服務事項的聯繫、通知與回覆</li>
     </ul>
   <li style="list-style-type: decimal;color:#dc3545;">我同意傑報基於人力資源招募專業，推薦我的履歷於傑報、傑報之子公司、關係企業、與個人職務有業務往來之客戶，及與傑報簽訂人才派遣服務之要派企業或委託招募人才之企業時，得適時調整履歷填寫內容，以便增加及強化履歷優勢，提高競爭力</li>
   <li style="list-style-type: decimal;">我瞭解此一同意書符合個人資料保護法及相關法規之要求，且瞭解其內容，並同意本同意書所列之事項。</li>	
          
  <li style="list-style-type: decimal;">其他：本同意書如有未盡事宜，傑報將依個人資料保護法或其他相關法規及其後修訂之規定辦理</li>
</ul>