<section class="py-9 position-relative z-2" id="features" >
    <div class="container px-5 my-5">
        <div class="row gx-5 text-center">
            <div id="text" class="col-lg-8 mb-lg-0">
                <h2 class="fw-bolder mb-3 text-gray">
                    專精產業領域
                </h2>
                <p class="lead fw-normal text-muted justify mb-0 text-center">電子資訊．網路通訊．機械金屬</p>
                <p class="lead fw-normal text-muted justify mb-0 text-center">車載車用．能源科技．生技醫療</p>
            </div>
            
        </div>
        <div class="position-absolute top-50 end-0 translate-middle-y col-lg-12 d-none d-sm-block" style="z-index: -1;background-color:#f4fffe;">
            <img class="img-fluid" src="assets/images/background/block3_18.png" alt="..." />
        </div>
         <!--手機版-->
        <!-- <div class="position-absolute top-55 end-0 translate-middle-y col-lg-6 d-block d-sm-none" style="z-index: -1;">
            <img class="img-fluid" src="assets/images/901.jpg" alt="..." />
        </div> -->
    </div>
</section>