<div class="py-5 bg-blue index_head_img">
        <div class="container  px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 mb-4">
                <div class="text-center">
                    <h2 class="fw-bolder text-white">中高階顧問服務流程</h2>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 mb-5 text-center">
                <div class="card card-body h-100 shadow border-1 position-relative">
                    <!-- <h4 class=" text-blue"><b>Step 1</b></h4> -->
                    <div class="position-absolute top-0 start-50 translate-middle">
                        <div class="feature bg-orange bg-gradient text-white rounded-circle mb-3">

                            <!-- <img class="img-70" src="assets/images/main/parttime.png"> -->
                            <!-- <i class="bi bi-bookmark-star"></i> -->
                            <i class="bi bi-pencil-square"></i>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h3 class="text-orange"><b>Step 1</b></h3>
                        <h4 class="text-muted  mt-3"><b>規劃 - Plan</b></h4>
                        <p class="mb-0 text-muted">需求訪談分析 </p>
                        <p class="mb-0 text-muted">產業深度調研 </p>
                        <p class="mb-0 text-muted">搜尋策略制定</p>
                        <p class="mb-0 text-muted">委託契約簽訂</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5 text-center">
                <div class="card card-body h-100 shadow border-1 position-relative">
                    <div class="position-absolute top-0 start-50 translate-middle">
                        <div class="feature bg-orange bg-gradient text-white rounded-circle mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-headset" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
                            </svg>
                            <!-- <img class="img-70" src="assets/images/main/parttime.png"> -->
                            <!-- <i class="bi bi-bookmark-star"></i> -->
                        </div>
                    </div>
                    <div class="mt-4">
                        <h3 class="text-orange"><b>Step 2</b></h3>
                        <h4 class="text-muted  mt-3"><b>執行 - Execution</b></h4>
                        <p class="mb-0 text-muted">目標人選訪談 </p>
                        <p class="mb-0 text-muted">推薦進度回饋 </p>
                        <p class="mb-0 text-muted">推薦評估報告</p>
                        <p class="mb-0 text-muted">雙方聘任協商</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5 text-center">
                <div class="card card-body h-100 shadow border-1  position-relative">
                    <div class="position-absolute top-0 start-50 translate-middle">
                        <div class="feature bg-orange bg-gradient text-white rounded-circle mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-person-hearts" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z" />
                            </svg>

                        </div>

                    </div>
                    <div class="mt-4">
                        <div class="text-orange">
                            <h3><b>Step 3</b></h3>
                        </div>
                        <h4 class="text-muted mt-3">

                            <b>關懷 - Care</b>
                        </h4>
                        <p class="mb-0 text-muted">到職輔導服務 </p>
                        <p class="mb-0 text-muted">任職穩定保證 </p>
                        <p class="mb-0 text-muted">需求委託結案</p>
                        <p class="mb-0 text-muted">客戶關係維護</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="both:clear;"></div>
</div>